@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/circularstdblack.eot');
    src: local('Circular Std Black'), local('../fonts/circularstdblack'),
        url('../fonts/circularstdblack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstdblack.woff') format('woff'),
        url('../fonts/circularstdblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('../fonts/circularstdbolditalic.eot');
    src: local('Circular Std Bold Italic'), local('../fonts/circularstdbolditalic'),
        url('../fonts/circularstdbolditalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstdbolditalic.woff') format('woff'),
        url('../fonts/circularstdbolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
        url('CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-BookItalic.woff') format('woff'),
        url('CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('../fonts/circularstdbook.eot');
    src: local('Circular Std Book'), local('../fonts/circularstdbook'),
        url('../fonts/circularstdbook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstdbook.woff') format('woff'),
        url('../fonts/circularstdbook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/circularstdmedium.eot');
    src: local('Circular Std Medium'), local('../fonts/circularstdmedium'),
        url('../fonts/circularstdmedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstdmedium.woff') format('woff'),
        url('../fonts/circularstdmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/circularstdbold.eot');
    src: local('Circular Std Bold'), local('../fonts/circularstdbold'),
        url('../fonts/circularstdbold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstdbold.woff') format('woff'),
        url('../fonts/circularstdbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Decima Mono';
    src: url('../fonts/decimamono.eot');
    src: local('Decima Mono'), local('../fonts/decimamono'),
        url('../fonts/decimamono.eot?#iefix') format('embedded-opentype'),
        url('../fonts/decimamono.woff') format('woff'),
        url('../fonts/decimamono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Decima Mono Lt';
    src: url('../fonts/decimamonolight.eot');
    src: local('Decima Mono Light'), local('../fonts/decimamonolight'),
        url('../fonts/decimamonolight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/decimamonolight.woff') format('woff'),
        url('../fonts/decimamonolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Decima Mono';
    src: url('../fonts/decimamonobold.eot');
    src: local('Decima Mono Bold'), local('../fonts/decimamonobold'),
        url('../fonts/decimamonobold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/decimamonobold.woff') format('woff'),
        url('../fonts/decimamonobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
