[Unit]
Description=Testigo Social Virtual 2.0
Documentation=https://github.com/transparenciamx/tsv
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/usr/bin/docker kill tsv
ExecStartPre=-/usr/bin/docker rm tsv
ExecStartPre=-/usr/bin/touch /var/run/tsv-pre-register
ExecStart=/usr/bin/docker run --name=tsv \
  -v /var/run/tsv-pre-register:/data/pre-register \
  -e AWS_ACCESS_KEY_ID=... \
  -e AWS_SECRET_ACCESS_KEY=... \
  -e AWS_REGION=us-east-1 \
  tm/tsv server -s /data -c /var/www/htdocs
ExecStop=/usr/bin/docker stop tsv
