[Unit]
Description=Testigo Social Virtual 2.0
Documentation=https://github.com/transparenciamx/tsv
Requires=tsv-storage.service
After=tsv-storage.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/usr/bin/docker kill tsv
ExecStartPre=-/usr/bin/docker rm tsv
ExecStartPre=-/usr/bin/touch /var/run/tsv-pre-register
ExecStart=/usr/bin/docker run --name=tsv \
  --link tsv-storage:storage \
  -p 80:7788 -p 443:7789 \
  -v /etc/tsv/pre-register:/data/pre-register \
  -v /etc/tsv/cert:/data/site.cer \
  -v /etc/tsv/priv:/data/site.pem \
  -v /etc/tsv/data.db:/data/tsv.db \
  -e AWS_ACCESS_KEY_ID=... \
  -e AWS_SECRET_ACCESS_KEY=... \
  -e AWS_REGION=us-east-1 \
  -e TSV_FB_VERIFY_TOKEN=... \
  -e TSV_FB_PAGE_TOKEN=... \
  tm/tsv server -c /var/www/htdocs --cert=/data/site.cer --priv-key=/data/site.pem
ExecStop=/usr/bin/docker stop tsv
