$a-blue: #17223a;
$a-green: #0c9;
$a-gray-dark: #545454;
$a-gray-light: #ccc;
$a-white: #fff;
$a-black: #222;

html {
  min-height: 100%;
  position: relative;
}

hr {
  border-top: 1px solid $a-gray-light;
}

div.inner {
  margin: 0 auto;
  width: 80%;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.txt-centered {
  text-align: center;
}

ul.icons {
  list-style: none;
  margin: 0 auto;

  &.partners {
    width: 750px;
  }

  &.ally {
    width: 320px;
  }

  &.collaborators {
    width: 320px;
  }

  li {
    float: left;
    margin: 0 20px;

    a {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 40px;
      width: 100px;

      &.mx {
        background-image: url('../images/alianza/icon_mx.png');
      }

      &.sfp {
        background-image: url('../images/alianza/icon_sfp.png');
      }

      &.shcp {
        background-image: url('../images/alianza/icon_shcp.png');
      }

      &.inai {
        background-image: url('../images/alianza/icon_inai.png');
      }

      &.tm {
        background-image: url('../images/alianza/icon_tm.png');
      }

      &.aca {
        background-image: url('../images/alianza/icon_aca.png');
      }

      &.coparmex {
        background-image: url('../images/alianza/icon_coparmex.png');
      }

      &.wb {
        background-image: url('../images/alianza/icon_wb.png');
      }

      &.ocds {
        background-image: url('../images/alianza/icon_ocds.png');
      }
    }
  }
}

#top {
  background-color: $a-blue;
  height: 60px;

  span.logo {
    background: url('../images/alianza/menu_logo.png') no-repeat top left;
    background-size: contain;
    display: inline-block;
    float: left;
    height: 40px;
    margin-top: 10px;
    width: 40px;
  }

  ul {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;

    li {
      border-left: 1px solid $a-white;
      cursor: pointer;
      float: left;
      padding: 0 20px;
    }

    a {
      color: $a-white;
    }
  }
}

#logo {
  a {
    background: url('../images/alianza/logo.png') no-repeat top left;
    background-size: contain;
    display: block;
    height: 140px;
    margin: 40px auto 20px;
    width: 500px;
  }
}

#slogan h1 {
  color: $a-gray-dark;
  font-size: 3.5em;
  font-weight: 400;
}

#data {
  li {
    line-height: 1.6em;
    padding: 14px;
  }

  p {
    line-height: 1.6em;
    margin-bottom: 30px;
  }

  a.btn {
    background-color: $a-green;
    border-radius: 30px;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.6);
    color: $a-white;
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 320px;
  }
}
