.dataChartLegend ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  font-size: 12px;
}

.dataChartLegend ul li span {
  width: 10px;
  height: 10px;
  margin-right: 15px;
}

.item .chart .line, #facts .line {
  width: 70%;
  border-top: 1px #CCC solid;
  margin: 0px auto;
}