@media all and (max-width: 768px) {
  #menu-bars{
    margin:0px !important;
  }
  #top{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    div.navbar-collapse{
      border-top: 0px !important;
      text-align: center;
      ul{
        float: none !important;
      }
    }
    a.logo2{
      background: url(../../images/TS2.svg) no-repeat top center;
      background-size: contain;
      display: block;
      float: left;
      width: 60px !important;
      margin-left: 15px !important;
    }
    div.col-md-12{
      display: none !important;
    }
    nav{
      z-index: 4;
      display: initial !important;
      a{
        margin-right: auto;
        text-decoration:none; 
      }
      a:last-child{
        margin:0px !important;
      }
      h2{
        font-family: 'Circular Std Book';
        font-size: 18px;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: auto;
      }
      span{
        font-size: 30px;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      div.container-fluid{
        div.navbar-header{
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
      ul{
        li{
          float: none !important;
          border-right: none !important;
        }
      }
    }
}
  #hero {

    div.logo {
      height: 108px !important;
      margin-top: 150px !important;
      width: 280px !important;
    }
    div.photo{
      height: 510px !important;
      display: flex;
      flex-direction: column;
    }

    h2 {
      color: $tsv-white;
      font-family: 'Circular Std Book' !important;
      font-size: 28px !important;
      text-align: center !important;
    }
  }
    #video {
    padding: 2em 0;

    div.col-md-12 {
      margin-bottom: 20px !important;
      text-align: center;
    }
    

    div.holder {
      background: url('../images/video_holder.png') no-repeat center center;
      background-size: contain;
      height: 126px !important;
      margin-bottom: 30px !important;
      border: 1px solid black !important;
      width: 100% !important;
    }

    a {
      color: $tsv-gray;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    span.txt-upper {
      padding: 12px 0px !important;
      font-family: 'Circular Std' !important;
      font-size: 12px !important;
      font-weight: 700;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important;
      text-align: center !important;
      width: 160px;
      height: 40px;
    }
    span.redtangle {
      border-radius: 0px !important;
      width: 255px !important;
      height: 65px;
      font-family: 'Circular Std' !important;
      font-size: 14px !important;
      font-weight: 700;
      padding-left: 20px !important;
      padding-right: 20px !important;
      padding-top: 12px!important;
    }
    br{
      display: none;
    }

    div.item {
      text-align: center;

      p {
        margin: 36px 0 12px;
        font-family: 'Circular Std Book' !important;
        font-size: 13px !important;
        text-align: center !important;
        strong{
          font-family: 'Circular Std' !important;
          font-size: 13px !important;
          font-weight: bold;
        }
      }

      span.icon {
        margin-top: 20px !important;
        margin-bottom: 20px !important;

        &.markers {
          margin-top: 30px !important;
          margin-bottom: 30px !important;
          height: 75px;
          background-image: url('../images/icon_markers.png');
        }

        &.contracts {
          margin-top: 30px !important;
          margin-bottom: 30px !important;
          height: 88px;
          background-image: url('../images/icon_contracts.png');
        }

        &.notifications {
          margin-top: 30px !important;
          margin-bottom: 30px !important;
          height: 78px;
          background-image: url('../images/icon_notifications.png');
        }
      }
    }
  }

  #bottom {
  padding-top: 0px !important;

  div.hide-row{
    display: none;
  }
  div.mobile-row{
    display: initial !important;
  }
  div.mobile-logo{
    display: flex;
    justify-content: space-between;
  }
  span{
    font-size: 10px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Circular Std' !important;
  }
  div.logo {
    float: left;
    margin-right: 0px !important;
    width: auto !important;
    margin-left: 10px !important;

    p {
      margin-bottom: 0px !important;
      font-family: 'Circular Std Book' !important;
      font-size: 10px !important;
      margin-top: 15px !important;
    }

    a.tm {
      background: url('../images/bottom_tm.png') no-repeat top left;
      background-size: contain;
      display: block;
      height: 45px;
      margin-top: 5px !important;
    }

    a.uk {
      background: url('../images/bottom_uk.png') no-repeat top left;
      background-size: contain;
      display: block;
      height: 32px !important; 
    }
  }

  div.links {
    display: flex !important;
    justify-content: center !important;

    span {
      cursor: pointer;
      display: inline-block;
      margin: 54px -15px 0 0;
      text-decoration: underline;
    }
    div.space-social{
      width: 40px;
    }

    div.social {
      margin-top: 10px;
      position: relative !important;
      right: 0;
      width: auto !important;
    }
  }
}
#facts {
  border-bottom: 1px solid $tsv-light-gray;
  padding: 4em 0 2em;

  p.txt-mobile {
    font-family: 'Circular Std Book' !important;
    font-size: 13px !important;
    margin-bottom: 40px !important;
    span.txt-bold{
      font-family: 'Circular Std Book' !important;
    }
  }
  p.highlight{
    font-family: 'Decima Mono Lt' !important;
    font-size: 40px !important;
    margin-bottom: 0px !important;
    letter-spacing: -2px;
    span{
      font-family: 'Decima Mono Lt' !important;
      font-size: 40px !important;
      letter-spacing: -2px;
    }
  }
  .line{
    margin:20px auto !important;
  }
}
#highlights {
  border-bottom: 1px solid $tsv-light-gray;

  ol.carousel-indicators {
    bottom: 0;

    li {
      border-color: $tsv-gray;

      &.active {
        background-color: $tsv-black;
      }
    }
  }

  p.info {
    font-size: 2em;
    margin: 20px 0;
    padding: 20px;
  }

  h1 {
    font-family: 'Decima Mono' !important;
    font-size: 18px !important;
    letter-spacing: -2px !important;
    font-weight: 300 !important;
    span#totalAward{
      font-family: 'Decima Mono' !important;
      font-size: 18px !important;
      font-weight: 300 !important;
      letter-spacing: -1px !important;
    }
  }
  div.item {

    p.mobile{
      margin-top: 70px
    }

    h2 {
      font-weight: 300;
      text-transform: uppercase;
    }

    div.chart {
      border-right: 0px !important;
      float: none !important;
      height: auto !important;
      margin: 20px 0 !important;
      width: auto !important;
    }

    div.info {
      width: auto !important;
      text-align: center !important;
      h2{
        font-family: 'Circular Std' !important;
        font-size: 13px !important;
        font-weight: bold !important;
        width: 180px !important;
        margin-left: auto;
        margin-right: auto;
      }
      span.amount{
        font-family: 'Decima Mono Lt' !important;
        font-size: 20px !important;
        letter-spacing: -2px;
      }
      h3{
        font-family: 'Decima Mono Lt' !important;
        font-size: 20px !important;
        letter-spacing: -2px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      p{
      font-family: 'Circular Std Book' !important;
      font-size: 13px !important;
      margin-bottom: 20px !important;

      span.contracts{
        font-family: 'Circular Std' !important;
        font-size: 13px !important;
        font-weight: bold !important;
      }
     }
     p.details{
      font-family: 'Circular Std Book' !important;
      font-size: 10px !important;
      margin-bottom: 40px !important;
      color: #9B9B9B;
    }
    }
  }

  span.bg-green {
    font-family: 'Circular Std Book' !important;
    font-size: 12px !important;
    background-color: #B4F8C9;
    span{
      font-family: 'Circular Std' !important;
      font-size: 12px !important;
      font-weight: bold !important;
    }
    strong {
      font-size: 12px !important;
      font-family: 'Circular Std' !important;
      font-size: 12px !important;
    }
  }
}

#queryForm {
  button.btn-primary {
    background-color: $tsv-blue;
    padding: 6px 30px;
  }
  div.hide-contracts{
    display: none;
  }
  div.mobile-contracts{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;

  }
  input{
    width: 280px !important;
    height: 36px !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-family: 'Circular Std Book' !important;
    font-size: 12px !important;
    color: #9B9B9B;
  }
  button.btn-mobile{
    margin-top: 30px !important;
    width: 160px !important;
    height: 40px !important;
    text-align: center !important;
    font-family: 'Circular Std' !important;
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    border-radius: 40px !important;
    border: none !important;
    outline: 0px !important;
  }
  div.bullets {
    align-items: center;
    display: flex;
    flex-direction: column;
    .popover{
      margin-left: 20px !important; 
      margin-right: 20px;
      left: 0px !important;
    }

    span {
      margin: 0 4px;
      margin-bottom: 30px !important;
      width: 210px;
      height: 35px;
      text-align: center;
      font-family: 'Circular Std' !important;
      font-weight: bold !important;
      font-size: 12px !important;
      text-transform: uppercase !important;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
div.inner-row{
  h2.mobile-search{
      font-family: 'Circular Std' !important;
      font-weight: bold !important;
      font-size: 15px !important;
      margin-top: 45px !important;
    }
  p.mobile-search{
    font-family: 'Circular Std Book' !important;
    font-size: 11px !important;
    margin-bottom: 30px !important;
  }
  h2.mobile-result{
      font-family: 'Circular Std' !important;
      font-weight: bold !important;
      font-size: 15px !important;
      margin-top: 30px !important;
    }
  p.mobile-result{
    font-family: 'Circular Std Book' !important;
    font-size: 11px !important;
    margin-bottom: 0px !important;
  }
  i{
    font-family: 'Circular Std' !important;
  }
}
div.chart-widget{
  h2{
    font-family: 'Circular Std Book' !important;
    font-size: 15px !important;
    font-weight: bold !important;
  }
  p{
    font-family: 'Circular Std' !important;
    font-size: 11px !important;
  }
}
div.description-container{
  p{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}
.aquablue{
  background-color: #d4fbfb !important;
}
div.mobile-blue{
  background-color: #9DCAFE !important;
}

p.txt-large{
  font-family: 'Circular Std Book' !important;
  font-size: 15px !important;
  text-align: center !important;
  margin: 20px;
  strong{
    font-family: 'Circular Std' !important;
    font-size: 15px !important;
    font-weight: bold;
  }
}
}

#queryForm{
  div.mobile-contracts{
    display: none;
  }
}
#top{
  nav{
    display: none;
  }
}