$tsv-black: #111;
$tsv-white: #fff;
$tsv-gray: #333;
$tsv-blue: #4990e2;
$tsv-purple: #c3a9f5;
$tsv-bright-green: #50e3c2;
$tsv-mid-gray: #999;
$tsv-light-blue: #d4fbfb;
$tsv-light-green: #d0f5dc;
$tsv-light-gray: #ccc;
$tsv-light-purple: #f5f0fe;
$tsv-bg-gray: #eee;
$tsv-yellow: #fcf3e3;
$tsv-dark-red: #a94442;

@import 'datepicker';
@import 'slider';
@import 'register';
@import 'menu-mobile';
@import 'information';
@import 'Charts';
@import 'contracts';



html {
  min-height: 100%;
  position: relative;

  * {
    font-family: 'montserrat';
  }
}

body {
  margin-bottom: 120px;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-mono {
  font-family: 'Overpass Mono', monospace;
}

.txt-sans {
  font-family: 'Montserrat', sans-serif;
}

.txt-italic {
  font-style: italic;
}

.txt-centered {
  text-align: center;
}

.txt-bold {
  font-weight: bold;
}

.txt-large {
  font-size: 1.7em;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bg-blue {
  background-color: $tsv-light-blue;
}

.bg-yellow {
  background-color: $tsv-yellow;
}

.bg-gray {
  background-color: $tsv-bg-gray;
}

.bg-green {
  background-color: $tsv-light-green;
}

.bg-purple {
  background-color: $tsv-light-purple;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.block-title {
  background-color: $tsv-black;
  color: $tsv-white;
  padding: 6px;
}

.number-title {
  font-weight: 400;

  span {
    border: 2px solid $tsv-black;
    border-radius: 40px;
    margin-right: 6px;
    padding: 0 10px;
  }
}

.btn-black {
  background-color: $tsv-black;
  border-radius: 40px;
  color: $tsv-white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 22px;

  &.large {
    font-size: 1.4em;
  }

  &:hover {
    background-color: $tsv-blue;
    color: $tsv-white;
  }

  &.active {
    background-color: $tsv-blue;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .75;
    text-decoration: line-through;
  }
}

.inner-row {
  margin: 0 auto;
  width: 90%;
}

h4 {
  font-weight: 300;
}

table {
  &.green {
    tbody > tr {
      td {
        border-top: 0;
      }

      &:nth-of-type(odd) {
        background-color: $tsv-light-green;
      }
    }
  }

  &.blue {
    tbody > tr {
      td {
        border-top: 0;
      }

      &:nth-of-type(odd) {
        background-color: $tsv-light-blue;
      }
    }
  }
}

div.clear {
  clear: both;
}

#top {
  padding: 8px 0;

  a.logo {
    background: url('../images/top_logo.png') no-repeat top center;
    background-size: contain;
    display: block;
    float: left;
    height: 40px;
    margin-top: 7px;
    width: 84px;
  }

  ul {
    display: block;
    float: left;
    margin: 0 auto;
    padding: 16px;
    width: auto;

    li {
      border-right: 1px solid $tsv-gray;
      float: left;
      list-style: none;
      padding: 0 20px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:last-child {
        border-right: none;
      }

      a {
        color: $tsv-gray;

        &.active {
          color: $tsv-blue;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  div.social {
    float: right;
    margin-top: 10px;
    width: 100px;

    a {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      float: left;
      height: 34px;
      margin-left: 10px;
      width: 34px;

      &.tw {
        background-image: url('../images/top_tw.png');
      }

      &.fb {
        background-image: url('../images/top_fb.png');
      }
    }
  }
}

#hero {
  div.photo {
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
  }

  div.logo {
    background: url('../images/logo.png') no-repeat center center;
    background-size: contain;
    height: 280px;
    margin: 10px auto;
    width: 640px;
  }

  h2 {
    color: $tsv-white;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
  }
}

#bucketSelector {
  margin-top: 20px;

  button {
    &.active {
      background-color: $tsv-black;
      color: $tsv-white;
      outline: none;
    }

    &:hover {
      background-color: $tsv-white;
      color: $tsv-black;
      outline: none;
    }
  }

  p.info {
    font-size: 2em;
    margin: 20px 0;
    padding: 20px;
  }

  h1 {
    font-size: 5em;
    font-weight: 300;
    text-align: center;
  }
}

#facts {
  border-bottom: 1px solid $tsv-light-gray;
  padding: 4em 0 2em;

  p.highlight {
    font-size: 3em;
    font-weight: bold;
  }
}

#highlights {
  border-bottom: 1px solid $tsv-light-gray;

  ol.carousel-indicators {
    bottom: 0;

    li {
      border-color: $tsv-gray;
      margin-left: 2px;
      margin-right: 2px;

      &.active {
        background-color: $tsv-black;
      }
    }
  }

  p.info {
    font-size: 2em;
    margin: 20px 0;
    padding: 20px;
  }

  h1 {
    font-size: 5em;
    font-weight: 300;
    text-align: center;
  }

  div.item {
    height: 440px;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
    }

    div.chart {
      border-right: 1px solid $tsv-light-gray;
      float: left;
      height: 340px;
      margin: 20px 0;
      width: 50%;
    }

    div.info {
      float: right;
      width: 48%;
    }

    p {
      font-size: 1.4em;

      &.details {
        color: $tsv-mid-gray;
        font-size: .9em;
      }
    }
  }

  span.bg-green {
    line-height:1.8em;
    padding:10px;

    strong {
      font-size:1.5em;
    }
  }
}

#video {
  padding: 2em 0;

  div.col-md-12 {
    margin-bottom: 60px;
    text-align: center;
  }

  div.holder {
    background: url('../images/video_holder.png') no-repeat center center;
    background-size: contain;
    height: 390px;
    margin-bottom: 40px;
  }

  a {
    color: $tsv-gray;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  a.yellow {
    background-color: $tsv-yellow;
    border-radius: 40px;
    color: $tsv-black;
    margin: 0 auto;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
  }

  span.btn-black {
    padding: 16px 50px;
  }

  div.item {
    text-align: center;

    p {
      margin: 36px 0 12px;
    }

    span.icon {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 120px;
      margin: 0 auto;
      width: 90px;

      &.markers {
        background-image: url('../images/icon_markers.png');
      }

      &.contracts {
        background-image: url('../images/icon_contracts.png');
      }

      &.notifications {
        background-image: url('../images/icon_notifications.png');
      }
    }
  }
}

#notice {
  border-top: 1px solid $tsv-light-gray;
  padding: 2em 0;
}

#about {
  div.img {
    float: left;
    width: 54%;

    img {
      height: auto;
      width: 100%;
    }
  }

  div.desc {
    float: right;
    width: 40%;

    h4 {
      color: $tsv-mid-gray;
    }
  }

  #news-slides {
    border-bottom: 1px solid $tsv-mid-gray;
    margin-bottom: 40px;
    padding-bottom: 40px;

    ol.carousel-indicators {
      bottom: 0;
      left: 94%;

      li {
        border-color: $tsv-mid-gray;
        margin-left: 2px;
        margin-right: 2px;

        &.active {
          background-color: $tsv-mid-gray;
        }
      }
    }
  }

  div.grid {
    margin-bottom: 30px;

    div.item {
      box-shadow: 0px 1px 4px $tsv-gray;
      display: block;
      cursor: pointer;
      float: left;
      height: 280px;
      margin: 10px 1%;
      padding: 15px;
      position: relative;
      width: 31%;

      h1 {
        color: $tsv-white;
        font-size: 2em;
      }

      div.overlay {
        background-color: $tsv-black;
        display: none;
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        opacity: 0.9;
        padding: 20px;
        width: 100%;
        z-index: 100;

        p {
          color: $tsv-white;
          line-height: 1.5em;
          text-align: center;
        }
      }
    }
  }
}

#single-post {
  border-bottom: 1px solid $tsv-mid-gray;
  margin-bottom: 40px;
  padding-bottom: 40px;

  h1 {
    text-align: center;
  }

  div.img {
    height: 300px;
    margin: 20px auto;
    width: 90%;

    img {
      height: auto;
      width: 100%;
    }
  }
}

#bottom {
  background-color: $tsv-black;
  bottom: 0;
  color: $tsv-white;
  height: 120px;
  padding-top: 30px;
  position: absolute;
  width: 100%;
  div.mobile-row{
    display: none;
  }
  div.logo {
    float: left;
    margin-right: 30px;
    width: 30%;

    p {
      font-size: 11px;
      margin-bottom: 4px;
    }

    a.tm {
      background: url('../images/bottom_tm.png') no-repeat top left;
      background-size: contain;
      display: block;
      height: 45px;
      margin-top: 20px;
    }

    a.uk {
      background: url('../images/bottom_uk.png') no-repeat top left;
      background-size: contain;
      display: block;
      height: 65px;
    }
  }

  ul {
    float: right;
    list-style: none;
    padding: 0 20px;

    a {
      color: $tsv-white;
      font-size: 11px;
    }
  }

  div.links {
    text-align: right;

    span {
      cursor: pointer;
      display: inline-block;
      margin: 54px -15px 0 0;
      text-decoration: underline;
    }

    div.social {
      margin-top: 10px;
      position: absolute;
      right: 0;
      width: 100px;

      a {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        float: right;
        height: 34px;
        margin-left: 10px;
        width: 34px;

        &.tw {
          background-image: url('../images/bottom_tw.png');
        }

        &.fb {
          background-image: url('../images/bottom_fb.png');
        }
      }
    }
  }
}

#setup {
  div.row {
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
  }

  button.btn-black {
    margin: 20px 0 30px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
      padding: 10px 0;

      span {
        margin-right: 6px;
      }
    }
  }

  input {
    &.validator-error {
      border-color: $tsv-dark-red;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
  }

  table {
    td {
      vertical-align: middle;
    }
  }
}

#queryForm {
  button {
    padding: 6px 30px;

    &.btn-primary {
      background-color: $tsv-blue;
    }
  }

  div.bullets {
    margin: 14px 0;

    span {
      margin: 0 4px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

#glossaryContents {
  td {
    cursor: pointer;
  }
}

div.info {
  padding: 20px 0;

  h2 {
    font-weight: 500;
    margin-bottom: 20px;
  }
}

div.agency-grid {
  div.item {
    border: 1px solid $tsv-blue;
    cursor: pointer;
    float: left;
    height: 100px;
    margin: 1%;
    width: 31%;

    div.logo {
      height: 70px;
      position: relative;
      width: 100%;

      img {
        bottom: 0;
        height: auto;
        left: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }
    }

    span.label {
      background-color: $tsv-blue;
      border-radius: 0;
      color: $tsv-white;
      display: block;
      height: 28px;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }

    &:hover,
    &.selected {
      border-color: $tsv-bright-green;

      span.label {
        background-color: $tsv-bright-green;
      }
    }
  }
}

div.project-grid {
  div.item {
    cursor: pointer;

    h5 {
      color: $tsv-blue;
      font-weight: 300;
    }

    div.img {
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }

    span.label {
      background-color: $tsv-blue;
      border-radius: 0;
      color: $tsv-white;
      display: block;
      height: 28px;
      margin-bottom: 6px;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      font-size: 11px;
    }

    &:hover,
    &.selected {
      span.label {
        background-color: $tsv-bright-green;
      }
    }
  }
}

table.latest-contracts {
  h4 {
    font-weight: bold;
  }

  p.lbl {
    color: $tsv-mid-gray;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

div.item-cell {
  border-bottom: 1px solid $tsv-light-gray;
  margin-bottom: 12px;
  padding-top: 20px;

  span.index {
    border: 2px solid $tsv-black;
    border-radius: 40px;
    color: $tsv-gray;
    font-size: 1.2em;
    font-weight: 400;
    margin-right: 6px;
    padding: 4px 10px;
  }

  p.lbl {
    color: $tsv-mid-gray;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  div.left {
    float: left;
  }

  div.right {
    float: right;
  }
}

div.contract-details {
  h4 {
    font-weight: 500;
    word-break: break-all;
  }

  p.lbl {
    color: $tsv-mid-gray;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  div.border-bottom {
    border-bottom: 1px solid $tsv-light-gray;
    margin-bottom: 20px;
    padding-bottom: 12px;
  }

  div.contract-header {
    margin-bottom: 40px;

    h2.block-title {
      margin-bottom: 0;
    }

    div.bg-gray {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    div.bullets {
      //position: relative;
      //
      //&:before {
      //  border-bottom: 2px $tsv-black solid;
      //  content: '';
      //  height: 100%;
      //  left: 0;
      //  position: absolute;
      //  transform: translateY(-50%);
      //  width: 100%;
      //  z-index: 0;
      //}

      .btn-black {
        background-color: $tsv-white;
        border: 2px solid $tsv-black;
        border-radius: 40px;
        color: $tsv-black;
        cursor: pointer;
        display: inline-block;
        margin: 0 1%;
        text-align: center;
        width: 18%;

        &:hover {
          color: inherit;
        }

        &.active {
          background-color: $tsv-black;
          color: $tsv-white;
        }

        &.disabled {
          cursor: not-allowed;
          opacity: .20;
          text-decoration: none;
        }
      }
    }
  }

  div.contract-highlights {
    div[class^="col-md-"] {
      border-right: 1px solid $tsv-light-gray;

      &:last-child {
        border-right: none;
      }
    }
  }
}

div.chart-widget {
  border: 1px solid $tsv-light-gray;
  margin-top: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
  }

  p {
    padding: 10px;
  }

  canvas {
    margin: 10px 3%;
    min-height: 340px;
    width: 94%;
  }

  span.footer {
    background: $tsv-blue;
    color: $tsv-white;
    cursor: pointer;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

div.chart-main {
  margin-bottom: 20px;

  div.sidebar {
    border-right: 1px solid $tsv-bg-gray;
    padding-top: 20px;

    h4 {
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  div.content {
    canvas {
      margin: 10px 3%;
      min-height: 440px;
      width: 94%;
    }
  }
}

@media all and (max-width: 768px) {
  #highlights, #facts{
    border-bottom: 1px solid #000;
  }

  div.chart-widget canvas{
    min-height:auto !important
  }
}
